@media screen and (min-width 1200px) {
  .container {
    max-width: 1200px;
  }

  /* ----------------HERO----------------- */
  .hero {
    background-color: var(--dark-headings-navy);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images-background/desktop-hero-background.jpeg);
  }
  .hero-header {
    margin-bottom: 48px;
  }

  /*------------------ADVANTAGES---------------------- */

  .advantages li {
    max-width: 269px;
    display: inline-block;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-container {
    width: 264px;
    height: 112px;
    background-color: var(--light-background-cloud);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .advantages-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;

    margin-top: 0;
    margin-bottom: 8px;
  }

  /* ---------------WHAT WE DO SECTION--------------- */
  .what-we-do {
    display: flex;
  }
  .what-we-do .list {
    display: flex;
    gap: 24px;
  }

  .what-we-do-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-headings-navy);

    margin-top: 0;
    margin-bottom: 72px;
  }

  /* -------------------OUR TEAM SECTION--------------- */


  .team .list {
    display: flex;
    gap: 24px;
  }

  .team-card {
    background-color: var(--white);
    width: calc((100% - 102px) / 4);
  }

.team-card {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
}