@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /*------------------HEADER---------------------- */
  .address .list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }
  .address-email {
    font-size: 16px;
    line-height: 1.5;
  }

  .address-phone-nr {
    font-size: 16px;
    line-height: 1.5;
  }

  .menu-button {
    display: none;
  }

  /* ----------------HERO----------------- */
  .hero {
    background-color: var(--dark-headings-navy);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images-background/desktop-hero-background.jpeg);

    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images-background/desktop-hero-background-2x.jpeg);
    }
  }
  .hero-header {
    margin-bottom: 48px;
  }

  /*------------------ADVANTAGES---------------------- */

  .advantages {
    background-color: var(--white);
  }

  .advantages-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .advantages-unit {
    width: calc((100% - 62px) / 4);
    display: inline-block;
  }
  .advantages-container {
    height: 112px;
    background-color: var(--light-background-cloud);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .advantages-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;

    margin-top: 0;
    margin-bottom: 8px;
  }

  /* ---------------WHAT WE DO SECTION--------------- */
  .what-we-do {
    display: block;
  }

  .what-we-do .list {
    display: flex;
    gap: 24px;
  }

  .what-we-do-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-headings-navy);

    margin-top: 0;
    margin-bottom: 72px;
  }

  /* -------------------OUR TEAM SECTION--------------- */

  .team .list {
    display: flex;
    gap: 24px;
  }

  .team-card {
    background-color: var(--white);
    width: calc((100% - 102px) / 4);
  }

  .team-card {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
  }

  /* ----------------CLIENTS--------------------- */

  .clients {
    background-color: var(--white);
  }

  .clients-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .clients > .container {
    max-width: 1158px;
  }

  /*------------------FOOTER---------------------- */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .logo-wrap {
    margin: 0;
  }

  .footer > .container {
    flex-wrap: nowrap;
    max-width: 1158px;
  }

  .footer-text {
    max-width: 264px;
  }

  .social-media-footer {
    margin-left: 120px;
  }

  .social-media-list-footer {
    margin-bottom: 0;
  }
  .subscribe-footer {
    margin-left: 80px;
  }

  /*------------------FILTER BUTTONS---------------------- */

  .portfolio .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  /*-----------------PORTFOLIO CARDS--------------------- */
}
