@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /*---------------------HERO-------------------------- */
  .hero {
    background-color: var(--dark-headings-navy);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images-background/tablet-hero-background.jpg);
  }
  .hero-header {
    font-size: 56px;
    line-height: 1.07;

    max-width: 494px;
    margin-bottom: 40px;
  }

  /*------------------ADVANTAGES---------------------- */

  .advantages-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .advantages-item {
    text-align: left;
  }

  .advantages-unit {
    width: calc((100% - 24px) / 2);
    display: inline-block;
  }

  /*-----------------OUR TEAM SECTION--------------------- */
  .team .list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-card {
    background-color: var(--white);
    width: 264px;
  }

  /* ----------------CLIENTS--------------------- */

  .clients-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .clients-list {
    column-gap: 24px;
  }

  .clients > .container {
    max-width: 552px;
  }

  /*------------------FOOTER---------------------- */

  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo {
    justify-content: left;
  }

  .footer > .container {
    max-width: 556px;
  }

  .logo-wrap {
    margin: 0 0 72px 0;
  }

  .social-media-footer {
    margin-left: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-footer {
    text-align: left;
  }
}
