@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /*------------------HEADER---------------------- */

  .header-logo {
    margin-right: 120px;
  }
  .navigation .list {
    display: flex;
    gap: 40px;
  }

  .navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-headings-navy);
    position: relative;

    display: block;
    padding: 24px 0;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  .navigation-link:hover,
  .navigation-link:focus {
    color: var(--btn-active-ocean);
  }

  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--btn-active-ocean);
  }

  .address {
    margin-left: auto;
  }

  .address .list {
    display: block;
    margin-left: auto;
    padding: 24px 0 10px;
  }

  .address-email {
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    color: var(--body-text-slate);
    letter-spacing: 0.02em;

    display: block;
    padding-bottom: 4px;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  .address-email:hover,
  .address-email:focus {
    color: var(--btn-active-ocean);
  }

  .address-phone-nr {
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    color: var(--body-text-slate);
    letter-spacing: 0.02em;

    display: block;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  .address-phone-nr:hover,
  .address-phone-nr:focus {
    color: var(--btn-active-ocean);
  }

  .menu-button {
    display: none;
  }

  /*---------------------HERO-------------------------- */
  .hero {
    background-color: var(--dark-headings-navy);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images-background/tablet-hero-background.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images-background/tablet-hero-background-2x.jpeg);
    }
  }
  .hero-header {
    font-size: 56px;
    line-height: 1.07;

    max-width: 494px;
    margin-bottom: 40px;
  }

  /*------------------ADVANTAGES---------------------- */

  .advantages {
    background-color: var(--light-background-cloud);
  }

  .advantages-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .advantages-item {
    text-align: left;
  }

  .advantages-unit {
    width: calc((100% - 24px) / 2);
    display: inline-block;
  }

  /*-----------------OUR TEAM SECTION--------------------- */
  .team .list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-card {
    background-color: var(--white);
    width: 264px;
  }

  /* ----------------CLIENTS--------------------- */

  .clients {
    background-color: var(--light-background-cloud);
  }

  .clients-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .clients-list {
    column-gap: 24px;
  }

  .clients > .container {
    max-width: 552px;
  }

  /*------------------FOOTER---------------------- */

  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo {
    justify-content: left;
  }

  .footer > .container {
    max-width: 556px;
  }

  .logo-wrap {
    margin: 0 0 72px 0;
  }

  .social-media-footer {
    margin-left: 24px;
    text-align: left;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-footer {
    text-align: left;
  }
}
